body {
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Libre Baskerville', serif; */
    /* font-family: 'Sacramento', cursive; */
    font-weight: 400;
    font-size: 15px;
    color: #000;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
h1 {
    font-size: 60px;
    font-family: "Libre Baskerville";
    line-height: 1.417;
    color: #fff;
}

h2.section-title {
    font-size: 50px;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 50px;
}

 p {
    color: rgb(97, 97, 97);
    line-height: 1.8;
    text-align: left;
}

p.title-text {
    color: rgb(97, 97, 97);
    font-size: 18px;
    line-height: 4.444;
}

.header {
    padding-top: 30px;
    padding-bottom: 25px;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul.main-nav {
    display: flex;
    padding-top: 10px;
}
li.main-nav-item {
    margin-left: 22px;
    font-size: 14px;
    padding-bottom: 7px;
    border-bottom: 2px solid transparent;
}
li.main-nav-item:hover {
    border-bottom: 2px solid rgb(39, 39, 39);
}
li.main-nav-item a {
    color: rgb(39, 39, 39);
}

.main {
    background: url('../img/main-background.png');
    height: 850px;
}

  
